node_modules
.next
.env
prisma/dev.db
*.log
.DS_Store

# Local source PDFs are copied to public/sources with web-safe names.
/4c9a170ab58d4454e271e3f7db0a5004.pdf
/TS POLYCET 2024 Question Paper_ Download Set A Question Paper with Answer Key PDF.pdf
/TS POLYCET 2025 Question Paper (Available) _Download Solution PDF with Answer Key.pdf
/TS_POLYCET_2023_Question_Paper_Set_B_079f187adceee47e7cb95d4b386153d1.pdf
/TS_POLYCET_2023_Question_Paper_Set_C_5b9bf33124912e544a0a54940469f584.pdf
/TS_POLYCET_2025_Q&A.pdf
/TS_Polycet_2024_Q.pdf
.vercel
